
<footer class="container py-5">
    <div class="row">
      <div class="col-12 col-md">
          <img src="assets/img/logo.png"  alt="Henri Potier">
        <small class="d-block mb-3 text-muted">© 2019</small>
      </div>
      <div class="col-6 col-md">
        <h5>Mon compte</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Mes commandes </a></li>
          <li><a class="text-muted" href="#">Mes informations personnelles</a></li>
          <li><a class="text-muted" href="#">Mes bons de réduction</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Informations</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Mentions légales</a></li>
          <li><a class="text-muted" href="#">Conditions d'utilisation</a></li>
          <li><a class="text-muted" href="#">Paiement sécurisé</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Nous contacter</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Service client</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Suivez Nous</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" target="_blank" href="https://www.facebook.com">Facebook</a></li>
          <li><a class="text-muted" target="_blank" href="https://twitter.com">Twitter</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.youtube.com">Yotube</a></li>
          <li><a class="text-muted" target="_blank" href="https://www.instagram.com">Instagram</a></li>
        </ul>
      </div>
    </div>
  </footer>